@import '../variables';


ion-action-sheet {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 100%;
}

.action-sheet-wrapper {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 500px;
  pointer-events: none;
}

.action-sheet-button {
  width: 100%;
}

.action-sheet-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 100%;
  max-height: 100%;
}

.action-sheet-group {
  overflow: scroll;
  flex-shrink: 2;
  pointer-events: all;
}

.action-sheet-group-cancel {
  overflow: hidden;
  flex-shrink: 0;
}

.action-sheet-ios {
  text-align: center;
}

.action-sheet-ios .action-sheet-wrapper {
  margin: constant(safe-area-inset-top) auto constant(safe-area-inset-bottom);
  margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom);
}

.action-sheet-ios .action-sheet-container {
  padding: 0 10px;
}

.action-sheet-ios .action-sheet-group {
  border-radius: 13px;
  margin-bottom: 8px;
  background: #f9f9f9;
}

.action-sheet-ios .action-sheet-group:first-child {
  margin-top: 10px;
}

.action-sheet-ios .action-sheet-group:last-child {
  margin-bottom: 10px;
}

.action-sheet-ios .action-sheet-title {
  padding: 1.5rem;
  text-align: center;
  border-radius: 0;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 1.3rem;
  font-weight: 400;
  color: #8f8f8f;
}

.action-sheet-ios .action-sheet-button {
  margin: 0;
  padding: 18px;
  min-height: 5.6rem;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 2rem;
  color: #007aff;
  background: transparent;
}

.action-sheet-ios .action-sheet-button:last-child {
  border-bottom-color: transparent;
}

.action-sheet-ios .action-sheet-button.activated {
  margin-top: -0.55px;
  border-top: 0.55px solid #ebebeb;
  border-bottom-color: #ebebeb;
  background: #ebebeb;
}

.action-sheet-ios .action-sheet-selected {
  font-weight: bold;
  background: #fff;
}

.action-sheet-ios .action-sheet-destructive {
  color: #f53d3d;
}

.action-sheet-ios .action-sheet-cancel {
  font-weight: 600;
  background: #fff;
}

.action-sheet-md .action-sheet-title {
  text-align: left;
  text-align: start;
  font-size: 1.6rem;
  color: #757575;
  padding: 11px 16px 17px;
}

.action-sheet-md .action-sheet-button {
  text-align: left;
  text-align: start;
  position: relative;
  overflow: hidden;
  min-height: 4.8rem;
  font-size: 1.6rem;
  color: #222;
  background: transparent;
  padding: 0 16px;
}

.action-sheet-md .action-sheet-button.activated {
  background: #f1f1f1;
}

.action-sheet-md .action-sheet-icon {
  padding: 0;
  text-align: center;
  width: 2.3rem;
  font-size: 2.4rem;
  vertical-align: middle;
  margin: 0 32px 0 0;
}

.action-sheet-md .action-sheet-group {
  background: #fafafa;
}

.action-sheet-md .action-sheet-group:first-child {
  padding-top: 0.8rem;
}

.action-sheet-md .action-sheet-group:last-child {
  padding-bottom: 0.8rem;
}

.action-sheet-md .action-sheet-group .button-inner {
  justify-content: flex-start;
}

.action-sheet-md .action-sheet-selected {
  font-weight: bold;
}

.action-sheet-wp .action-sheet-title {
  text-align: left;
  text-align: start;
  font-size: 2rem;
  color: #4d4d4d;
  padding: 11px 16px 17px;
}

.action-sheet-wp .action-sheet-button {
  text-align: left;
  text-align: start;
  min-height: 4.8rem;
  font-size: 1.5rem;
  color: #4d4d4d;
  background: transparent;
  padding: 0 16px;
}

.action-sheet-wp .action-sheet-button.activated {
  background: #aaa;
}

.action-sheet-wp .action-sheet-icon {
  padding: 0;
  text-align: center;
  width: 2.3rem;
  font-size: 2.4rem;
  vertical-align: middle;
  margin: 0 20px 0 0;
}

.action-sheet-wp .action-sheet-group {
  background: #fff;
}

.action-sheet-wp .action-sheet-group:first-child {
  padding-top: 0.8rem;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.action-sheet-wp .action-sheet-group:last-child {
  padding-bottom: 0.8rem;
}

.action-sheet-wp .action-sheet-group .button-inner {
  justify-content: flex-start;
}

.action-sheet-wp .action-sheet-selected {
  font-weight: bold;
}

.action-sheet-wp .action-sheet-cancel {
  background: transparent;
}
