@import '../variables';

ion-menu {
  @include fill;
  display: none;
  contain: strict;
  z-index: 80;

  &.show-menu {
    display: block;
  }

  // Unsure what this is used for... fabs?
  .fixed-content {
    display: none;
  }

  .menu-inner {
    background: $swatch-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    transform: translate3d(-9999px, 0, 0);
    display: block;
    max-width: 320px;
    width: 80%;
    height: 100%;
    contain: strict;
    overflow-y: auto;
    padding-bottom: #{$display-base * 4};
  }

  .menu-title {
    color: $swatch-grey-dark;
    font-size: 0.9rem;
    font-weight: 400;
    padding: $display-base;
  }

  .menu-item {
    @include button($swatch-grey-dark);

    border-radius: 2px;
    color: $swatch-grey-dark;
    display: flex;
    min-height: 3.5rem;
    padding: $display-base;
    text-align: left;
    width: 100%;

    &.selected {
      color: var(--theme-primary);
    }

    ion-icon {
      margin-right: #{$display-base * 1.5};
    }

    header {
      @include ellipsis;
      flex: 1;
      font-weight: 600;

      > div {
        font-weight: 300;

        span + span:before {
          content: ' - ';
        }
      }
    }

    aside {
      font-size: 0.9rem;
      margin-left: $display-base;
    }
  }

  ion-backdrop {
    z-index: -1;
    display: none;
    opacity: .01;

    &.show-backdrop {
      display: block;
    }
  }
}
