@import '../variables';

ion-menu {
  @include fill;
  display: none;
  contain: strict;
  z-index: 80;

  &.show-menu {
    display: block;
  }

  // Unsure what this is used for... fabs?
  .fixed-content {
    display: none;
  }

  .menu-inner {
    background: $swatch-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    transform: translate3d(-9999px, 0, 0);
    display: block;
    max-width: 22rem;
    width: 80%;
    height: 100%;
    contain: strict;
    overflow-y: auto;
  }

  .menu-title {
    color: $swatch-grey-dark;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 1rem;
  }

  .menu-item {
    @include button($swatch-grey-dark);

    border-radius: 2px;
    color: $swatch-grey-dark;
    display: flex;
    padding: 1rem;
    text-align: left;
    width: 100%;

    &.selected {
      background: $swatch-smoke;
      color: var(--theme-primary);
    }

    ion-icon {
      margin-right: 1.5rem;
    }

    header {
      flex: 1;
      font-weight: 600;
    }

    aside {
      font-size: 0.9rem;
    }
  }

  hr {
    margin: 1rem 0;
  }

  ion-backdrop {
    z-index: -1;
    display: none;
    opacity: .01;

    &.show-backdrop {
      display: block;
    }
  }
}
