@import '../variables';

.ion-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > .header {
    background: var(--theme-header-bg);
    flex: 0;
    z-index: 1;
  }

  > .content {
    color: var(--theme-content);
    background-color: var(--theme-bg);
    flex: 1;
    min-height: 100px;

    > .fixed-content {
      display: none;
    }

    > .scroll-content {
      margin: 0 !important;
      height: 100%;
      overflow-y: scroll;
    }

  }

  > .footer {
    flex: 0;
  }

}
