@import '../variables';

.ion-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > .header {
    background: var(--theme-primary);
    flex: 0;
    z-index: 1;
  }

  > .content {
    color: var(--theme-content);
    background-color: var(--theme-bg);
    flex: 1;
    min-height: 100px;

    > .fixed-content {
      display: none;
    }

    > .scroll-content {
      margin: 0 !important;
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 100px;

      > h2 {
        color: var(--theme-title);
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: .9rem;
        letter-spacing: .5px;
        margin: #{$display-base * 1.5} $display-base;

        button {
          padding: 0;
        }
      }
    }

  }

  > .footer {
    flex: 0;
  }

}
