@import '../variables';

ion-slides {
  display: block;
  height: 100%;

  .swiper-container {
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
    display: flex;
  }

  .swiper-slide {
    flex: 100vw 0 0;
  }
}
