@import "../styles/variables";

.figure-properties {
  display: flex;
  margin-bottom: $display-base;

  ion-item {
    flex: 2;
    margin-right: $display-base;
    margin-bottom: 0;

    &:first-child {
      flex: 1;
    }
  }

}

.figure-property-add {
  margin-bottom: $display-base;
  text-align: right;
}
