@import '../variables';

// todo - component
.bc-image-view {
  background: no-repeat center center/contain;
  box-shadow: $shadow-small;
  display: block;
  height: #{$display-base * 20};
  position: relative;

  > button {
    @include button;

    &.has-image {
      color: #bbb;
      font-size: 1.6rem;
      padding: $display-base;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &.no-image {
      color: $swatch-grey-light;
      font-size: #{$display-base * 8};
      height: 100%;
      padding: #{$display-base * 2};
      width: 100%;
    }
  }
}
