@import '../variables';

.bc-info {
  @include card;
  margin: $display-base;
  padding: 0 $display-base $display-base;

  ion-slides {
    background: #333;
    height: 200px;
    margin: 0 #{-$display-base} 0;

    img {
      display: block;
      margin: auto;
      height: 200px;
    }
  }

  h1 {
    color: var(--theme-title);
    font-size: 1.5rem;
    margin: $display-base 0;

    + .bc-status {
      margin-top: #{-$display-base};
    }
  }

  p {
    margin: $display-base 0;
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    font-size: .9rem;
    margin: $display-base 0;

    dt {
      color: var(--theme-title);
      flex: 40% 0 0;
      font-weight: 600;

      &:after {
        content: ':';
      }
    }

    dd {
      flex: 60% 0 0;

      ~ dt, ~ dd {
        margin-top: #{$display-base / 3};
      }
    }
  }

  nav {
    text-align: right;
  }

}
