@import '../variables';

.bc-overflow {
  @include fill;
  transform: translate(100%, -100%);
  transition: opacity 320ms, transform 320ms;
  z-index: 500;

  &.reveal {
    transform: none;

    > .options {
      opacity: 1;
    }
  }

  > .options {
    background: var(--swatch-white);
    box-shadow: $shadow-small;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 320ms;
    z-index: 5;
    width: 60vw;

    > button {
      @include button(var(--theme-content));
      display: block;
      padding: $display-base;
      text-align: left;
      width: 100%;
    }
  }

}
