@import '../variables';

.bc-header {
  background: var(--swatch-white);
  box-shadow: $shadow-small;
  margin: 0 0 #{$display-base * 1.5};
  padding: #{$display-base * 2} #{$display-base * 2} #{$display-base * 1.5};

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.bc-section{
  background: var(--swatch-white);
  box-shadow: $shadow-small;
  margin: 0 0 #{$display-base * 1.5};
  padding: $display-base;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  nav {
    border-top: 1px solid var(--theme-divider);
    margin: $display-base 0;
    padding-top: $display-base;
    text-align: right;
  }
}

.bc-type {

  &-title {
    color: var(--theme-title);
    font-size: 2rem;
    font-weight: 500;
    margin: $display-base 0;

    + .bc-type-subtitle {
      margin-top: #{-$display-base};
    }
  }

  &-subtitle {
    color: var(--theme-title);
    font-size: 1rem;
    font-weight: 300;
    margin: $display-base 0;
  }

  &-text {
    margin: $display-base 0;
  }

  &-aside {
    text-align: right;
    font-weight: 500;
  }

  &-definitions {
    font-size: .9rem;
    overflow-y: scroll;
    padding: $display-base 0;
    flex: 1;
    margin: $display-base 0;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: #{$display-base / 2}  #{$display-base * 2};
    align-content: start;

    dt {
      grid-column: 1;
      color: var(--theme-title);
      font-weight: 500;

      &:after {
        content: ':';
      }
    }

    dd {
      font-weight: 300;
      grid-column: 2;
    }
  }

}
