@import '../variables';

.bc-type {

  &-header {
    background: #fff;
    box-shadow: $shadow-small;
    padding: #{$display-base * 2} #{$display-base * 2} #{$display-base * 1.5};
  }

  &-title {
    color: var(--theme-title);
    font-size: 2rem;
    font-weight: 300;
    margin: $display-base;

    + .bc-type-subtitle {
      margin-top: #{-$display-base};
    }
  }

  &-subtitle {
    color: var(--theme-title);
    font-size: .9rem;
    letter-spacing: .5px;
    font-weight: 500;
    margin: #{$display-base * 2} $display-base $display-base;
    text-transform: uppercase;
  }

  &-text {
    margin: $display-base;
  }

}
