@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // todo - what are these?
  //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //-webkit-tap-highlight-color: transparent;
  //-webkit-touch-callout: none;
}

html {
  font: 87.5%/1.3 'Roboto', sans-serif;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  touch-action: manipulation;
  user-select: none;

  // Typography
  --theme-bg: #{$swatch-smoke};
  --theme-title: #{$swatch-black};
  --theme-content: #{$swatch-grey-dark};

  // Material colours
  --theme-primary: #08c;
  --theme-secondary: #{$swatch-white};

  // Inputs
  --theme-input: #ddd;
  --theme-input-value: #{$swatch-black};

  // Figure statuses
  --status-complete: #292;
  --status-incomplete: #929;
  --status-unowned: #922;
}

:focus,
:active {
  outline: none;
}

hr {
  border: none;
  border-top: 1px solid var(--theme-content);
  margin: $display-base 0;
  opacity: 0.3;
}

// Remove ionic global button effects
.button-effect {
  display: none;
}

// Custom ionic sass
@import 'ionic/page';
@import 'ionic/click-block';
@import './ionic/backdrop';
@import './ionic/navbar';
@import './ionic/menu';
@import './ionic/alert';
@import './ionic/picker';

// Unupdated
@import './ionic/action-sheet';
@import './ionic/scroll';
@import './ionic/slides';
@import './ionic/searchbar';
@import './ionic/spinner';

// Updated but unused
// @import './ionic/tabs';

// Ionic fonts
$font-path: '~ionic-angular/fonts';
@import "~ionic-angular/fonts/noto-sans", "~ionic-angular/fonts/roboto";

// Component / Typography styles
@import './components/form';
@import './components/button';
@import './components/text';
@import './components/empty';
@import './components/info';
@import './components/overflow-menu';
@import './components/scroller';
@import './components/status';
