@import './variables';

/// *********************
/// Theme CSS variables
/// *********************

.ion-page {
  --theme-content: $swatch-grey-dark;
  --theme-content-bg: $swatch-white;
  --theme-content-break: $swatch-grey-light;
  --theme-content-link: $swatch-violet;
  --theme-content-title: $swatch-violet;
  --theme-header: $swatch-violet;
  --theme-header-bg: $swatch-white;
  --theme-input: $swatch-grey-dark;
  --theme-input-bg: $swatch-smoke;
  --theme-input-value: $swatch-black;
}

[v-page-theme='charcoal'] {
  --theme-content-title: $swatch-white;
  --theme-content-link: $swatch-teal-neon;
  --theme-content: $swatch-white;
  --theme-content-bg: $swatch-charcoal;
  --theme-header: $swatch-white;
  --theme-header-bg: $swatch-charcoal;
}

[v-page-theme='grey'] {
  --theme-content-bg: $swatch-smoke;
  --theme-content-break: $swatch-grey-light;
  --theme-input-bg: $swatch-white;
}

[v-page-theme='cranberry'] {
  --theme-content-title: $swatch-white;
  --theme-content-link: $swatch-white;
  --theme-content: $swatch-white;
  --theme-content-bg: $swatch-cranberry;
  --theme-header: $swatch-white;
  --theme-header-bg: $swatch-cranberry-neon;
}

[v-page-theme='teal'] {
  --theme-content-title: $swatch-white;
  --theme-content-link: $swatch-white;
  --theme-content: $swatch-white;
  --theme-content-bg: $swatch-teal;
  --theme-header: $swatch-white;
  --theme-header-bg: $swatch-teal-tint;
}

[v-page-theme='violet'] {
  --theme-content-title: $swatch-white;
  --theme-content-link: $swatch-white;
  --theme-content: $swatch-white;
  --theme-content-bg: $swatch-violet;
  --theme-header: $swatch-white;
  --theme-header-bg: $swatch-violet-tint;
}

[v-page-theme='image'] {
  --theme-header: $swatch-white;
}

[v-page-theme='waiting'] {
  --theme-content-bg: $swatch-violet;
  --theme-content-title: $swatch-white;
  --theme-content-link: $swatch-white;
  --theme-content: $swatch-white;
  --theme-header: $swatch-white;
  --theme-header-bg: $swatch-violet;
}
