$gutter: 12px;

// ********************
//   Swatches
// ********************

// Violet swatches
$swatch-violet-dark: #5d2a73;
$swatch-violet: #7d3f98;
$swatch-violet-tint: #b18cc1;
$swatch-violet-light: #f5eff8;

// Cranberry swatches
$swatch-cranberry: #d20962;
$swatch-cranberry-tint: #e46b95;
$swatch-cranberry-neon: #ef1e7b;

// Grey swatches
$swatch-charcoal: #414141;
$swatch-grey-dark: #646464;
$swatch-grey-light: #dcdcdc;

// Teal swatches
$swatch-teal: #00a78e;
$swatch-teal-tint: #66cabb;
$swatch-teal-neon: #00f0cc;
$swatch-teal-deep-ui: #007d82;

// Base swatches
$swatch-smoke: #f5f5f5;
$swatch-black: #000;
$swatch-white: #fff;

@mixin card {
  background: $swatch-white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 2px;
  padding: $gutter;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}
