// ********************
//   Swatches
// ********************

// Colour swatches
$swatch-cranberry: #ad2c2c;
$swatch-violet: #7d3f98;
$swatch-teal: #3f9863;

// Grey swatches
$swatch-charcoal: #414141;
$swatch-grey-dark: #646464;
$swatch-grey-light: #e8e8e8;

// Base swatches
$swatch-smoke: #f5f5f5;
$swatch-black: #000;
$swatch-white: #fff;

$shadow-large: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
$shadow-small: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

$display-base: 12px;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin ripple($colour: $swatch-grey-light) {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(circle, $colour 10%, transparent 10.01%) no-repeat 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s
  }

}

@mixin button( $color: inherit, $background: none) {
  appearance: none;
  background: $background;
  color: $color;
  border: 0;
  font: inherit;
  outline: none;
}

@mixin card {
  background: $swatch-white;
  box-shadow: $shadow-small;
  border-radius: 2px;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}
