@import "../../styles/variables";

.spinner {
  display: block;
  width: 100%;
  height: 100%;

  > svg {
    @include fill;
    animation: spinner-rotate 1s linear infinite;
    margin: auto;
    height: 48px;
    width: 48px;

    > circle {
      fill: transparent;
      stroke: var(--theme-primary);
      stroke-width: 4px;
      stroke-dasharray: 80px;
    }
  }
}


@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
