@import "../../styles/variables";

ion-toast {
  @include fill;
  z-index: 1000;
  display: block;
  pointer-events: none;

  .toast-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: $display-base;
    position: absolute;
    z-index: 10;
    display: block;
    max-width: 700px;
    pointer-events: auto;
  }

  .toast-container {
    background: var(--swatch-charcoal);
    border-radius: 6px;
    box-shadow: $shadow-small;
    color: var(--swatch-white);
    font-weight: 300;
    padding: $display-base;
  }

}
