@import "../styles/variables";

:host {
  @include card;
  contain: content;
  display: grid;
  grid-template-columns: #{$display-base * 6.5} 1fr 0fr;
  grid-gap: $display-base;
  margin: $display-base;
  padding-right: $display-base;

  &.deleted {
    display: none;
  }
}

figure {
  background: center top/cover no-repeat;
  grid-row: 1 / 3;
}

header {
  padding-top: $display-base;
  min-height: 4rem;

  h2 {
    color: var(--theme-title);
    font-size: 1.15rem;
    font-weight: 500;
    margin: 0 0 #{$display-base / 2};
  }

  p {
    color: $swatch-grey-dark;
    font-size: .9rem;
    font-weight: 300;
  }

}

.more {
  button {
    @include button;
    color: var(--theme-title);
    font-size: 1.6rem;
    padding: #{$display-base / 2};
  }

}

.status {
  border-top: 1px solid $swatch-grey-light;
  grid-column: 2 / 4;
  text-align: right;
}

