@import "../styles/variables";

:host {
  display: block;
  margin: $display-base;
}

.count {
  margin: 0 0 $display-base;
}

.figures {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{$display-base * 20}, 1fr));
  grid-gap: #{$display-base * .75};
}
