@import "../styles/variables";

:host {
  @include card;
  display: flex;
  flex-direction: column;
}

figure {
  background: center top/cover no-repeat;
  padding-bottom: 100%;
  width: 100%;
}

header {
  border-bottom: 1px solid var(--theme-divider);
  flex: 1;
  padding: #{$display-base} $display-base;

  h2 {
    color: var(--theme-title);
    font-size: 1.1rem;
    font-weight: 500;

    span {
      color: var(--theme-content);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .range {
    margin: #{$display-base / 3} 0 0;
    font-weight: 300;
  }
}

.status {
  padding: #{$display-base / 2};
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .highlight {
    font-size: 1.6rem;

    &.highlighted {
      color: var(--theme-highlight);
    }
  }
}
