@import "../../styles/variables";

:host {
  background: var(--swatch-white);
  border-bottom: 1px solid var(--theme-divider);
  display: grid;
  grid-template-columns: #{$display-base * 6} 1fr auto;
  height: #{$display-base * 8};
}

figure {
  background: center top/cover no-repeat;
  grid-row: 1 / 3;
}

header {
  padding: $display-base $display-base;

  .name {
    color: var(--theme-title);
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .variant {
    color: var(--theme-content);
    display: block;
    font-size: 1rem;
    font-weight: 400;
  }
}

.bc-type-status {
  grid-column: 2 / 4;
  padding: $display-base $display-base;
  text-align: right;
}

.status {
  padding: $display-base;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;

  .highlight {
    font-size: 1.6rem;

    &.highlighted {
      color: var(--theme-highlight);
    }
  }
}
