@import "../../styles/variables";

:host {
  display: block;
}

button {
  @include button;
  display: flex;
  align-items: center;
  margin-left: auto;

  span {
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  ion-icon {
    background: transparent;
    color: transparent;
    border: 2px solid var(--theme-content);
    border-radius: 4px;
    line-height: 1rem;
    height: 1.3rem;
    width: 1.3rem;
    margin-left: #{$display-base / 2};
    transition: all 320ms ease-in-out;
  }

  &.checked ion-icon {
    background: var(--theme-primary);
    border-color: var(--theme-primary);
    color: var(--theme-secondary);
  }
}
