@import "../../styles/variables";

// todo - generic?
.bc-figure-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: #{$display-base * .75};
  margin: $display-base;
}
